input {
  color: black;
  font-size: 1.1em;
  display: block;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, .4);
  transition: border-color .2s;
}

input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.simple-list {
  animation: fade-in .5s;
  margin: 8px auto;
  width: 90%;
}

.simple-list a {
  color: var(--color-font-secondary);
  text-decoration: none;
}
.simple-list a:focus {
  outline: blue auto 2px;
  outline-offset: -1px;
  color: var(--color-font-primary);
}
