<p *ngIf="error">Wystąpił błąd! Odśwież stronę</p>

<div *ngIf="!error">
  <div class="form">
    <h1>Automatyczny wybór planu lekcji</h1>
    <p>
      Jeżeli ta opcja jest włączona to serwer automatycznie wybierze najnowszy plan lekcji i taki będzie dostępny dla
      wszystkich użytkowników.
      Gdy automatyczny wybór planu lekcji jest włączony to wtedy nie można ręcznie wybierać aktualnego planu.
    </p>
    <div class="boolean-switch">
      <a [class.active]="currentSettings && currentSettings.rotationEnabled"
         (click)="setProperty('auto-rotation', '1')">Włączone</a>
      <a [class.active]="currentSettings && !currentSettings.rotationEnabled"
         (click)="setProperty('auto-rotation', '0')">Wyłączone</a>
    </div>
  </div>

  <div class="form">
    <h1>Długość okresu nie pytania serwera o aktualny plan</h1>
    <p>
      Ta opcja dotyczy długości okresu przechowywania informacji o aktualnym planie lekcji na urządzeniach użytkowników.
      Im większa ta wartość, tym dłużej zajmie aktualizacja planów, ale rzadziej urządzenia będą pytały się o aktualny
      plan.
      Zalecana wartość: 2 dni.
    </p>
    <label>
      <select [ngModel]="currentSettings ? currentSettings.timetableCacheDuration : currentSettings"
        (change)="setProperty('timetable-info-cache-duration', $event.target.value)">
        <option  *ngFor="let d of cacheDurations" [value]="d[0]">{{d[1]}}</option>
      </select>
    </label>
  </div>

  <div class="form">
    <h1>Filtrowanie ruchu po adresach IP</h1>
    <p>Włącznie tej opcji spowoduje zablokowanie ruchu z innych adresów niż podane poniżej w liście<br/>
      <b>Uwaga:</b> Należy najpierw wypełnić poniższą listę przed aktywacją tej opcji, w przeciwnym razie utraci się dostęp do serwera!</p>
    <div class="boolean-switch">
      <a [class.active]="currentSettings && currentSettings.useIpFilter"
         (click)="setProperty('use-ip-filter', '1')">Włączone</a>
      <a [class.active]="currentSettings && !currentSettings.useIpFilter"
         (click)="setProperty('use-ip-filter', '0')">Wyłączone</a>
    </div>
  </div>

  <div class="form">
    <h1>Biała lista adresów</h1>
    <p>
      Lista adresów sieci z których można połączyć się z tą stroną.<br/>
      Adresy muszą być w formacie IPv4 z długością prefixu sieci po ukośniku oraz jeden na linię.<br>
      Aby zezwolić na dostęp tylko z jednego konkretnego adresu należy użyć długości prefixu sieci 32.<br>
      Przykłady:<br>
      <code>
        10.8.0.0/16<br/>
        192.168.1.10/32<br/>
      </code>
      <a *ngIf="linesAreModified" class="nice-btn" (click)="validateAndSendIpLines()">Zapisz zmiany</a>
    </p>
    <textarea rows="20" [(ngModel)]="ipFilterLines" (input)="linesAreModified=true"></textarea>
  </div>
</div>
